---
---

@import "{{ site.theme }}";

a {
  font-weight: normal;
}

hr {
  border: 0;
  height: 20px;
  background:url(../images/flourish.png) no-repeat center;
}

/* Home */
.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: 30px;
  }
}

.post-home-head {
  border-bottom: none;
  margin-top: 0;
}

.post-home-hero {
  border: none;
  max-width: 300px;
}

/* Header */
a.twitter {
  background: url(../images/twitter.png) no-repeat 1px;
}

/* Post */

.post-meta {
  margin-bottom: 0;
}

.post-hero {
  border: none;
  margin-bottom: 0;
  width: 100%;
}

.post-title {
  border-bottom: none;
}

.post-subtitle {
  margin-top: 0;
  border-bottom: none;
}

.center-image {
  margin: 0 auto;
  display: block;
}

div.float-left {
  float: left;
  margin-right: 20px;
}

img.float-left {
  max-width: 300px;
  margin-bottom: 10px;
  border: none;
}

p.sub-image {
  margin-bottom: 0;
  text-align: center;
}

sub {
  font-size: smaller;
}

