---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
  {%- if page.subtitle -%}
    <h2 class="post-subtitle" itemprop="name headline">{{ page.subtitle | escape }}</h1>
  {%- endif -%}
  <p class="post-meta">
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ page.date | date: '%F' }}
    </time>
    {%- if page.author -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
    {%- endif -%}
    <span class="post-categories">
      {% if post %}
        {% assign categories = post.categories %}
      {% else %}
        {% assign categories = page.categories %}
      {% endif %}
      {% if categories.size > 0 %}
        • 
        {% for category in categories %}
          <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
          {% unless forloop.last %}/{% endunless %}
        {% endfor %}
      {% endif %}
    </span>
  </p>

  <div class="post-content e-content" itemprop="articleBody">
    {%- if page.image -%}
      <img class="post-hero" src="{{page.image}}" alt="{{page.imagealt}}" style="width: 100%"/>
    {%- endif -%}

    {%- if page.imagetxt -%}
      <p><sub>{{ page.imagetxt }}</sub></p>
    {%- endif -%}

    {{ content }}
  </div>

  {%- if page.issue_id -%}
    {%- include comments.html issue_id=page.issue_id -%}
  {%- endif -%}
  <div id="gh-comments-list"/>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
